@{
    ViewData["Title"] = "Carrito";
}
@if (ViewBag.vacio == "no")
    {
        //El carrito no esta nacio y muestro los productos
<div style="width:600px;">
        <div class="row">
            <div class="col-12">
                <div class="float-right">

                    <table border="1">
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio</th>

                            <th>Cantidad</th>
                            <th>Acción</th>
                            <th>Subtotal</th>

                        </tr>
                        @foreach (Elemento item in ViewBag.carr)
                        {
                            <tr valign="top">
                                <td>@item.producto.nombre</td>
                                <td><img src="~/imagenes/@item.producto.imagen" width="100" /></td>
                                <td>@item.producto.precio</td>
                                <td>@item.cantidad</td>
                                <td><a asp-controller="Carrito" asp-action="Eliminar" asp-route-idprod="@item.producto.id">Eliminar uno</a></td>

                                <td>@(
                                    item.producto.precio * item.cantidad
                                    )</td>

                            </tr>
                        }
                        <tr>
                        <td colspan="5" align="right">Total: </td>
                        <td>@ViewBag.total</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
        <div class="row">
            <div class="col-12">
                <p align="right">
                    <a asp-controller="Home" asp-action="Index">Volver atras  </a>
                    <a asp-controller="Fin" asp-action="Index" asp-route-total="@ViewBag.total">Finalizar compra</a>
                </p>
            </div>
        </div>
</div>
    }
    else{
        //El carrito no se ha llenado o esta vacio
        <h1>@ViewBag.vacio</h1>
        <a asp-controller="Home" asp-action="Index"> Ir a Supermercado </a>
    }


